# Ignore everythign
*

# Readme
!README.md

# Git
!.gitignore
!.gitconfig

# Themes
!.themes
!.themes/*
!.themes/**

# Shell config
!.zshrc
!.zsh_aliases

# Config
!.config 
.config/*

# Neovim
!.vimrc
!.config/nvim
!.config/nvim/*
